VITE_SUPABASE_URL=https://cizumiaecfeiieafypwa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpenVtaWFlY2ZlaWllYWZ5cHdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NDkzNzUsImV4cCI6MjA5MjUyNTM3NX0.DJA4Fj2JjzMwLuhsM8C2p0Lv0_1jmRkYWhXv_QchWWg
